.genres-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-bottom: 100px;
}

.genres {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1200px;
  width: 85vw;
}

.genres__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0 -10px;
  padding: 0;

  list-style-type: none;
}

.genres__item {
  transition: transform 0.1s ease-in-out;

  width: 100%;

  @include breakpoint-sm {
    width: 50%;
  }

  @include breakpoint-md {
    width: 33.33%;
  }

  @include breakpoint-lg {
    width: 20%;
  }

  .list-view & {
    width: 100%;
  }

  &:hover {
    transform: scale(1.03);
  }
}

.genres__link-wrap {
  margin: 10px;
}

.genres__link {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;

  height: 60px;
  padding: 20px;

  color: white;
  background: $color__gray;
  opacity: 0.9;

  text-align: center;
  text-transform: uppercase;

  .list-view & {
    height: 60px;
  }

  &:hover {
    background: $color__red;
  }

  @include breakpoint-sm {
    height: 100px;
  }
}
