.top {
  background: $color__gray--xx-light;
}

.title {
  margin: 0 auto;
  padding: 40px 0 20px 0;
  width: 85vw;
}

.title__text {
  margin: 0;

  font-size: 42px;
  text-align: center;

  @include breakpoint-sm {
    font-size: 58px;
  }

  @include breakpoint-md {
    font-size: 72px;
  }
}

.title__logo {
  color: $color__red;
}

.no-results {
  display: none;

  color: $color__gray--x-light;

  text-align: center;
}

.no-results--show {
  display: block;
}
