.search-form {
  margin: 40px 0;

  text-align: center;
}

.search-form__input {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 4px solid $color-seconary--dark;

  font-size: inherit;
}
