.search {
  display: flex;
  align-items: center;

  height: 180px;
  margin: 0 auto;
  width: 85vw;
}

.search__form {
  position: relative;

  display: flex;
  border: 4px solid;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}

.search__input {
  border: none;
  padding: 20px;
  padding-right: 0;
  width: 100%;

  background: transparent;
  -webkit-appearance: none;

  font-size: 20px;

  outline: none;

  &::placeholder {
    color: $color__gray--x-light;
  }
}

.search__icon {
  display: flex;
  align-items: center;

  margin: auto 20px;

  opacity: .7;

  font-size: 20px;
}