$color__gray: #333;
$color__gray--dark: #111;
$color__gray--light: #777;
$color__gray--x-light: #999;
$color__gray--xx-light: #fdfdfd;

$color__red: #e50914;

$viewport-sm: 600px;
$viewport-md: 800px;
$viewport-lg: 1200px;
